main {
    max-width: 800px;
    margin: 0 auto;
    background-color: papayawhip;
    height: 100vh;
    padding: 1rem 4rem;
}

h1 {
    width: 100%;
    text-align: center;
    margin: 0.5rem;
    font-size: 300%;
}

button {
    cursor: pointer;
    margin-right: 1rem;
}

button:hover {
    box-shadow: 2px 2px 2px grey;
}
button:last-child {
    margin-right: 0;
}

article {
    background-color: beige;
    height: 16rem;
    border: 1px solid grey;
    border-radius: 3px;
    overflow-y: scroll;
}

h3 {
    margin: 0.5rem 0;
}

form {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border: 1px solid grey;
    background-color: azure;
}
label {
    margin: 0 1rem;
}
input {
    flex-grow: 1;
}

.buttonRow {
    margin: 1rem 0;
    display: flex;
    align-items: center;
}

.truck {
    display: flex;
    align-items: center;
}

p {
    padding: 0 0.5rem;
    margin: 0.5rem;
    border: 1px solid grey;
    background-color: burlywood;
}